.place__image {
  width: calc((100% - 40px - 24px) / 2);
  margin-right: 40px;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: calc((100% - 32px - 16px) / 2);
    margin-right: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: calc((100% - 28px - 12px) / 2);
    margin-right: 28px;
  }
}

@media screen and (max-width: 576px) {
  .place__image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
  }
}
