.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1184px;
  padding: 28px 48px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
