.photos__image {
  width: calc((100% - 16px * 3) / 4);
}

@media screen and (max-width: 1024px) {
  .photos__image {
    width: calc((100% - 16px * 2) / 3);
  }
}

@media screen and (max-width: 768px) {
  .photos__image {
    width: calc((100% - 16px) / 2);
  }
}

@media screen and (max-width: 576px) {
  .photos__image {
    width: 100%;
  }
}
