.lead__subtitle {
  max-width: 640px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 64px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 576px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    padding: 0 16px;
    margin-bottom: 40px;
  }
}
